html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------Utility Class--------*/
.container{
  margin:auto;
  padding:40px;

}


body{ 
  background-color: #F4F3F1;  
  font-family: "quokka", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#2d2d2d;
  width: 90vw;
  margin:40px auto;
  max-width:980px;
   
}
  
.container{
  margin: auto;
  padding: 40px;
  
}

h1{
  text-align: center;
}



a{
color:#3171C6;
text-decoration: none;

}

nav ul li{

}

li::marker {
  
}
