:root{
 --background-color:#E1DFE1;
 --accent-color:#879EBF;
 --accent-color2:#2B313F;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main{
  font-family: "quokka", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.container{
  max-width: 680px;
  margin: 0px auto;
  background-color: var(--background-color);
}


img {
  max-width: 100%;
  border:solid 2px var(--accent-color2);
}


body {
  background: var(--accent-color);
  color: var(--accent-color2);
  line-height: 1.4;
  padding:20px;
}


main {
  padding: 1px 20px;
}



main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  
}


main h1:before,
main h1:after {
  background-color: var(--accent-color);
  content: "\a0"; /*line design by name*/
  flex-grow: 1;
  height: 2px;
  position: relative;
  top: 0.77em;
}


main h1:before {
  margin-right: 15px;
}


main h1:after {
  margin-left: 15px;
}


a:link,
a:visited {
  color: var(--accent-color);
}

#experience, #education{
  text-align: center;
}


#skills{
  text-align: center;
  list-style-position: inside; /*to keep the list type in the center with text*/
}

/* Nav*/

nav {
  padding: 2px;

}


nav li {
  list-style-type: none;
}


nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 10px 0px 10px;
}

/* nav a:hover{
  color:var(--accent-color);
} */

nav a:link, nav a:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid var(--accent-color);
  text-transform: uppercase;
  font-size: 0.75rem;
  background:var(--accent-color2); /*box color*/
  color: var(--background-color); /*text color */
}
/* Nav*/


/* other links*/
.related-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.related-links a {
  border: 1px solid var(--accent-color);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color2);
  text-transform: uppercase;
  font-size: 0.75em;
  background: var(--accent-color2);
  color: var(--background-color);
}

.related-links a:hover {
  background:var(--accent-color);
}

.related-links li {
  margin-right: 20px;
}
/* other links*/

/*Defintion list*/
dl {
  font-size:0.9rem;
  display: grid;
  grid-template: repeat(8, 50px) / 8em 1fr;
}

dt {
  font-weight: 800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom: 1.5px solid var(--accent-color);
}

dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom: 1.5px solid var(--accent-color);
}

/*Defintion list*/


.job,
.certificate {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 20px;
}

.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

#skills li {
  list-style-type:"\2605";
}

#skills{
  border-bottom: 2px solid var(--accent-color);
}

footer {
  text-align: center;
  padding: 20px 0;
  color: var(--background-color);
  font-family: "quokka", sans-serif;
  font-weight: 700;
  font-style: normal;

}


main.container {
  display: grid;
  grid-template-areas:
    "title"
    "nav"
    "about"
    "education"
    "skills"
    "experience";
}

nav{
  grid-area:nav;
}
.page-title {
  grid-area: title;
}
#about {
  grid-area: about;
}
#skills {
  grid-area: skills;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}

/*Media Query*/

@media screen and (min-width:768px){
   
  header.container{
    max-width:900px;
  }

  main.container {
  max-width:900px;
  grid-template-columns:45% auto;
  grid-template-areas:
    "title title"
    "about about"
    "education skills"
    "experience experience"

    ;
}

#about{
  display:grid;
  gap:2em;
  grid-template-columns: 350px 1fr auto;
  
  grid-template-areas: 
  "nav nav nav"
  "bio details details"
  "links links links"
  ;

}

.bio{
grid-area:bio
}

.details{
  grid-area:details;
}

.related-links{
  grid-area:links;
  padding-bottom:20px;
  border-bottom: 2px solid #879EBF;
}

}

@media screen and (min-width:992px){

}
