:root{
    --background-color:#1D312F;
    --detail-color1:#DEE9BD;
    --detail-color2:#80866E;
    --detail-color3:#F6EAC8;
    --text:#fff;
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

.container{
  width: 100%;       
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--background-color);
}


body{
 background-color: var(--background-color);
}



h1{
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--detail-color3);
}

nav{
  background-color:var(--background-color);
  border-bottom: solid 3px var(--detail-color1);
  top: 0;
  z-index: 100;

}

nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

nav ul li{
 padding:5px;
}

nav ul li a{
  color: var(--detail-color1);
  text-decoration: none;
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;

}
 
nav li a:hover{
  color:var(--detail-color3);
}


#mains{
background-image: url(../img/main680px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 450px; 
  padding-bottom:100px;
}

#sides{

background-image: url(../img/sides680px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 450px; 
  padding-bottom:100px;
}

#desserts{
background-image: url(../img/dessert680px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 450px; 
  padding-bottom:100px;
}

#title{
  background-image: url(../img/projhero680px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 450px; 
  padding-bottom:100px;
}

#title-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* W3Schools */

}

#title-content h1{
  font-size: 3rem;
}

#sub-banner{
  background-color:var(--background-color);
  color: var(--detail-color1);
  border-top: solid 2px var(--detail-color1);
  padding-top:50px;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height:250px;
  border-bottom: solid 2px var(--detail-color1);
}

#sub-banner h2{
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   font-variation-settings:
    "slnt" 1;
  
}

img{
  justify-items: center;
  margin: 0 auto;
  border-radius: 50%;
}

img.lentils{
 height:150px;
 width:150px;
}

img.hummus{
 height:155px;
 width:138px;
}

img.tomato{
 height: 135px;
 width: 134px;
}

img.eggplant{
 height: 188px;
 width: 120px;
}

img.sumac{
 height:150px;
 width:150px;
}

img.carrot{
 height:140px;
  width: 140px;
}

img.lemon{
 height:145px;
  width:145px;
}

img.mint{
height:146px;
 width:142px;
}

img.pistachio{
 height: 264px;
 width: 211px;
}

p, h3{
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:var(--detail-color1);
  margin: 0;
}

#recipe-list {
  padding:10px;
  text-align:center;
  display: grid;
  grid-template-columns: 1fr;  
  gap: 20px;
}

.recipe-entry {
  border: 2px solid var(--detail-color1);
  padding:10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.recipe-entry:hover{
background-color: rgba(255,255,255,0.03);
}

h1.other{
  color:var(--detail-color1);
  text-shadow: 2px 2px var(--detail-color2);
   
}


#recipe-page{
  text-align: center;
  margin:10px;
}

#recipe-page p{
  padding:15px;
}

#recipe-page li{
  list-style-type: none;
   font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color:var(--detail-color1);
}

.recipe-header{
  border: var(--detail-color1), 2px dashed;
}

.recipe-header dt,dd{
  color:#DEE9BD;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align:center;

}

/* styling of defintion list used from: https://clicknathan.com/web-design/styling-html-5-description-lists-formerly-known-as-definition-lists-properly/ */
.recipe-header dl {
  display: flex;
  flex-wrap: wrap;
}

.recipe-header dt {
   float: left;
    width: 30%;
    text-align: right;
    padding: .25em;
    clear: left;
}

.recipe-header dd {
  float: left;
    width: 60%;
    padding: .25em 0;
}

h2{
  color:var(--detail-color3);
   font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 1;
    text-decoration: underline;
}

h3{
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
  color:var(--detail-color3);

}

a{
  text-decoration: none;
}

footer{

  background-color: var(--background-color);
  color:var(--detail-color1);
  text-align: center;
}

footer h6{
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer h6 a{
  text-decoration: none;
  color:var(--detail-color1);
}

footer h6 a:hover{
  color:var(--detail-color3);
}




/*------------------------------------ Media Queries------------------------ */

@media (min-width: 768px) {
  #title{
  background-image: url(../img/projhero800px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  height: 535px; 
  width: 100%;
  padding-bottom:100px;
  }


  #mains{
  background-image: url(../img/main800px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 535px; 
  padding-bottom:100px;
}

#sides{

background-image: url(../img/sides800px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 535px;
  padding-bottom:100px;
}

#desserts{
background-image: url(../img/dessert800px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 535px;
  padding-bottom:100px;
}

  #recipe-list {
    grid-template-columns: 1fr 1fr;
    padding:20px;
  }
}
 

@media (min-width: 1024px) {

  #title {
  background-image: url(../img/projhero1200px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  height: 800px; 
  width: 100%;
  padding-bottom:100px;
  }

  #mains{
  background-image: url(../img/main1200px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 800px; 
  padding-bottom:100px;
}

#sides{

background-image: url(../img/sides1200px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 800px; 
  padding-bottom:100px;
}

#desserts{
background-image: url(../img/dessert1200px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 800px; 
  padding-bottom:100px;
}

  #recipe-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding:20px;
  }

  #title-content h1 {
    font-size: 5rem;
  }


#sub-banner{
  background-color:var(--background-color);
  color: var(--detail-color1);
  border-top: solid 2px var(--detail-color1);
  padding: 60px 24px;
  text-align: center;
  width: 100%;
  border-bottom: solid 2px var(--detail-color1);
}

  nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
  font-size:1.25rem;
}

nav ul li{
 padding:5px;
}

nav ul li a{
  color: var(--detail-color1);
  text-decoration: none;
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;

}

}






@media (min-width: 1200px){

  #title{
  background-image: url(../img/projhero2000px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 1000px; 
  padding-bottom:100px;
  }

#mains{
  background-image: url(../img/main2000px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 1000px; 
  padding-bottom:15px;
}

#sides{

background-image: url(../img/sides2000px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 1000px; 
  padding-bottom:15px;
}

#desserts{
background-image: url(../img/dessert2000px.webp);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;      
  background-position: center;
  width: 100%;
  height: 1000px;  
  padding-bottom:15px;
}

  #recipe-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:20px;
  }

  #title-content h1 {
    font-size: 5rem;
  }


#sub-banner{
  background-color:var(--background-color);
  color: var(--detail-color1);
  border-top: solid 2px var(--detail-color1);
  padding: 60px 24px;
  height:350px;
  text-align: center;
  width: 100%;
  border-bottom: solid 2px var(--detail-color1);
}

  nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
  font-size:1.25rem;
}

nav ul li{
 padding:5px;
}

}
