:root{
 --background-color:#F4F3F1;
  --accent-color:#3171C6;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main{
  font-family: "quokka", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.container{
  width:460px;
  margin: 0px auto;
}